.container>header{
    text-align:center;
    font-size:30px;    
}
.numbers{
    text-align:center;
}
.numbers:first-child button{
    border-radius: 20px;
    width: 40px;
    height: 40px;
    text-align:center;
}
.numbers:second-child button{
    border-radius: 20px;
    width: 40px;
    height: 40px;
    text-align:center

}
.numbers:nth-child(3) button{
    border-radius: 20px;
    width: 40px;
    height: 40px;
    text-align:center
}
.numbers:nth-child(4) button{
    border-radius: 20px;
    width: 40px;
    height: 40px;
    text-align:center
}
.numbers:nth-child(5) button{
    border-radius: 20px;
    width: 40px;
    height: 40px;
    text-align:center
}